<div class="container">
    <div class="row">
    <h1>Political Parties</h1>
        <div class="col-lg-10 parties">
            <% @parties.each do |party| %>
                <h3><%= link_to party.name, party %></h3>
                <%= link_to (image_tag party.image.url(:thumb)), party, class: "img-thumbnail" %>
                <br>
                <%= link_to 'Edit', edit_party_path(party), class: "btn btn-success" %>
                <%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
        </div>
    </div>
    <br>
    <%= link_to 'New Party', new_party_path, class: 'btn btn-primary' %>
</div>