

</header>

<main>
  <!--Main layout-->
  <div class="container">
    <div class="row">
      <!--Main column-->
      <div class="col-lg-8">
        <p id="notice"><%= notice %></p>
          <h1>Feeds</h1>
            <table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Url</th>
                  <th>Description</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
            <tbody>
              <% @feeds.each do |feed| %>
                <tr>
                  <td><%= feed.name %></td>
                  <td><%= feed.url %></td>
                  <td><%= feed.description %></td>
                  <td><%= link_to 'Show', feed %></td>
                  <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
                  <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
              <br>
              <%= link_to 'New Feed', new_feed_path %>
              <br>
              <!--Post excerpt-->
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>
              <!--"Read more" button-->
              <button class="btn btn-info">Read more</button>
      </div>
              <!--/.Post-->
    <!--/.Main layout-->
</main>
<!--/.Footer-->

<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/tether.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
