<%= simple_form_for(@complaint) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.collection_select :party_id, Party.all, :id, :name, :prompt => true %>
    <%= f.input :title %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
