<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :category %>
    <%= f.input :section %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :mail %>
    <%= f.input :street %>
    <%= f.input :tel %>
    <%= f.input :fax %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-secondary" %>
  </div>
<% end %>

<h2>Import Contacts</h2>

<%= form_tag import_contacts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import", class: "btn btn-info" %>
<% end %>
