<nav class="navbar navbar-toggleable-md navbar-light navbar-fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ">
      <a class="navbar-brand logo" <%= link_to "FEEDS.inc", root_path %></a>
    </ul>
    <ul class="nav navbar-nav navbar-right righter">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <li class="nav-item"><%= link_to "Feeds", feeds_path, class: "nav-link"%></li>
      <li class="nav-item"><%= link_to "Contacts", contacts_path, class: "nav-link"%></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Complaints</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <%= link_to "Political Party", parties_path, class: "dropdown-item"%>
          <a class="dropdown-item">Site Complaints</a>
        </div>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Logout",  destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      <% else %>
      <li class="nav-item"><%= link_to "SignIn",  new_user_session_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "SignUp",  new_user_registration_path, class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>